# This is example of .envrc file for direnv

# I like to automatically switch to conda environment
# when I enter the project directory.
# I assume you have conda installed and the shell is zsh.
# For more details, see https://direnv.net/docs/hook.html
eval "$(conda shell.zsh hook)"
conda activate {{ cookiecutter.project_name }}

# Sometimes, in Mac OS, you may need to increase the number of open files.
ulimit -n 1024
