# This is example of .envrc file for direnv

# I like to automatically switch to conda environment
# when I enter the project directory.
# I assume you have conda installed and the shell is zsh.
# For more details, see https://direnv.net/docs/hook.html
eval "$(conda shell.zsh hook)"
conda activate {{ cookiecutter.project_name }}

# This helps to open lot of files in Mac OS
ulimit -n 1024
